# warmup section

In [4]:
def lesser_of_two_evans(a, b):
    
    """a func to return lesser of the two evan nums"""
    
    if a % 2 == 0 and b % 2 == 0:
        if a > b:
            return b
        else:
            return a
    else:
        if a > b:
            return a
        else:
            return b
    
    
    
lesser_of_two_evans(2, 5)

5

In [16]:
def animal_crackers(text):
    """function that takes a two word string and returns True if both wrods begin with same letter"""
    new_words = text.split()
    
    return new_words[0][0] == new_words[1][0]

animal_crackers('Crazy Kangaroo')

False

In [26]:
def other_side_of_seven(num):
    """given a value, return a value that is twice as far away on the other side of 7"""
    new_num = num - 7 # subtracting num from 7
    double_new_num = new_num * 2 # doubling the num
    final_num = 7 - double_new_num # subtracting the double from 7
    return final_num

other_side_of_seven(12)

-3

# LEVEL 1 PROGRAM

In [12]:
def old_macdonald(name):
    """func that capitalizes the first and fourth letter of a sentence"""
    new = []
    for w in word:
        new.append(w)
        
    first = new[0].title()
    fourth = new[3].title()

    final = first + word[1:3] + fourth + word[4:]
    return final

old_macdonald("macdonald")

'MacDonald'

In [16]:
def master_yoda(text):
    """func that returns a sentence in reverse"""
    new_text = text.split(" ")
    return new_text[::-1]

master_yoda("We are ready")

['ready', 'are', 'We']

In [41]:
def almost_there(n):
    """function that returns True if n is within 10 of either 100 or 200"""
    return abs(200 - n) <= 10 or abs(100 - n) <= 10

almost_there(209)

True

# LEVEL 2

In [42]:
def laughter(pattern, text):
    """function that counts the num of times a given pattern appears in a string, inclduing overlap"""
    pass

In [77]:
words = "hahahah"
pattern = "hah"
count = 0

new_word = words.split()

for word, index in new_word.enumerate():
    print(word)

AttributeError: 'list' object has no attribute 'enumerate'

In [60]:
def blackjack(a, b, c):
    """given 3 integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
    if their sum exceeds 21 and theres an eleven, reduce the total sum by 10. Finally, if the sum exceeds 21, return Busy"""
    
    total = a + b + c

    if total <= 21:
        return total 
    elif total > 21 and ((a == 11) or (b == 11) or (c == 11)):
        return total - 10
    else:
        return "BUST"
blackjack(9, 9, 9)

'BUST'

In [72]:
def paper_doll(text):
    """given a string, return a string where for every chara in the original there are three char"""
    final = []
    
    for words in text:
        words *= 3
        final.append(words)
    
    final_res = "".join(final)
    return final_res

paper_doll("Mississippi")

'MMMiiissssssiiissssssiiippppppiii'

In [ ]:
def summer_69(arr):
    """return the sum of nums in the array, except ignore secontions of nums starting with 6 and 
    extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no nums"""

In [78]:
total = 0
nums = [2, 3, 9]

for num in nums:
    if num == 6:
        pass

14